body{
    background-color: #d8b30c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
h1{
    font-size: 1.5em;
    background-color: antiquewhite;
    margin: 10px auto;
}